<div class="main-content" *ngIf="!isLoading && !showInventory">



  <div class="row" style="text-align: center;">
    <h2>Your Inventory</h2>
  </div>

  <div class="container">
    <div class="row inventory" style="display: flex; padding: 20px;">

      <div class=" col-md-4 col-lg-2 item " *ngFor="let inv of userInventories" style="margin-bottom: 20px;margin-right: 2px; cursor: pointer;">
          <mat-icon (click)="deleteInventory(inv)" style="float: right;margin:7px ;">delete</mat-icon>
         <div  style="border-radius: 20px; border: 2px solid purple;text-align: center;height: 7vw;padding-top: 2vw;">
          <span style="font-size: 14px; overflow:hidden;max-width: 20px;" (click)="openInventory(inv)">{{inv.name}}</span>
         </div>

         <mat-card style="text-align: center;">
          <h4>{{inv.type}}</h4>
        </mat-card>
         
      </div>
      
      <div class=" col-md-4 col-lg-2 " style="margin-bottom: 20px;">
 
        <div style="text-align: center;
        height: 8vw;">

        <mat-card style="width: 222px;">
          <mat-card-title>Add new Inventory</mat-card-title>
          <mat-card-content>

            <mat-form-field>
              <mat-label>Enter name</mat-label>
              <input matInput placeholder="new Name" 
              type="text" [(ngModel)]="newInventoryName">
            </mat-form-field> 
            <mat-form-field>
              <mat-label>Enter type</mat-label>
              <input matInput placeholder="inv type" 
              type="text" [(ngModel)]="newInventoryType">
            </mat-form-field>
    
             <button mat-button (click)="resetField()">reset</button>
             <button [disabled]="isDisabled()" mat-button color="primary" (click)="save()">save</button>


          </mat-card-content>
        </mat-card>
        
        </div>
        
      </div>
     
 
    </div>
  </div>

  









</div>

<app-inventory-page  *ngIf="showInventory"
  (goBackEvent)="showInventory = !showInventory"
  (addProductEvent)="openAddProductDialog(inventory)"
  [inventory]="inventory"
  >

</app-inventory-page>

<app-loader *ngIf="isLoading"></app-loader>





